target/
build/
.idea/
*.iml
.gradle
*.prefs
*.class*
*.factorypath
*.project
*.processors
*/bin/
.DS_Store

/bin
blackbox-test-spi/META-INF/services/io.avaje.spi.test.SPIInterface
blackbox-test-spi/META-INF/services/io.avaje.spi.test.SPIInterface$NestedSPIInterface
blackbox-test-spi/io.avaje.spi.test.SPIInterface$NestedSPIInterface
